* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 15px;
}

footer{
    display: flex;
    justify-content: center;
    position: bottom;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.button{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    height: 48px;
}

.blue-button{
    background: #b8e1ff;
}

.grey-button{
    background: #eee;
}

.connect {
    width: 130px;
    padding: 12px 0;
    font-size: 21px;
}

.disconnect {
    width: 130px;
    padding: 15px 0;
    font-size: 16px;
}

.shopping-cart {
    width: 58px;
    padding: 8px;
    margin: 0 10px;
}

.bottom-border {
    border-bottom: #bbb solid 1px;
}

.small-image{
    width: 100px;
    margin: 1rem 1rem 1rem 0;
}

.invisible{
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

.products{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}

.restrained-width{
    width: 180px;
}

.products-list-form{
    display: flex;
    align-items: center;
    height: 140px;
    margin: 1rem;
    border: #bbb solid 1px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.products-list-line{
    display: flex;
    align-items: center;
    background: #fff;
    width: 90%;
    height: 90%;
    border: none;
    padding: 0;
}

.products-list-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.products-list-div *{
    margin: 0;
}

.product-image{
    width: 500px;
}

.flex{
    display: flex;
}

.product-name{
    font-size: x-large
}

.product-description{
    padding-top: 10px;
}

.price{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.default-button{
    background-color: #eee;
}

.small-input{
    width: 160px;
}

.global-margin{
    margin: 1rem;
}

@media(max-width:900px){
    .flex-product {
      flex-direction: column;
      align-items: center;
    }
}

.command-pass{
    display: block;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    background: #eee;
    max-width: 180px;
    height: 48px;
    padding: 15px 0;
    border-radius: 0.5rem;
    font-size: 16px;
    text-align: center;
}

.total-price{
    max-width: 180px;
    margin-left: auto;
    text-align: right;
}

.connect-main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-block{
    padding: 20px;
    border: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-form, .block-label{
    display: inline-block;
    height: 48px;
    max-width: 640px;
    min-width: 100px;
    margin-bottom: 15px;
}
.block-label{
    margin: 0;
}
.text-center{
    text-align: center;
}

.continue-button{
    width: 200px;
    padding: 15px 0;
}

.confirm{
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.sign-up-main{
    height: 100vh;
    display: grid;
    place-content: center;
}

.sign-up-form{
    width: 576px;
    display: grid;
    margin: 1rem;
    padding: 20px;
    border: solid 1px #ddd;
    border-radius: 0.5rem;
}


.sign-up-form-logo{
    justify-self: center;
}

@media(min-width:576px){
    .sign-up-form{
        grid-template-columns: auto 1fr;
    }

    .grid-col-2{
        grid-column: span 2;
    }
}

.sign-up-form *{
    margin: 0.5rem;
}

.default-input{
    height: 48px;
    border-radius: 0.5rem;
    padding: 0 10px;
    border: 2px solid #eee;
}

.create-account-hyperlink{
    text-decoration: none;
    color: #0075c9;
    align-self: center;
}